h1{
    font-size: 50px;
}
.dd{
    color: orange;
}

.left{
    width:40%;
    float:left;
    margin-right: 5%;
    text-align: center;
}
.right{
    width: 50%;
    float: left;
}
.right img{
    width:100%;
}